@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Russo+One&display=swap&subset=cyrillic');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
}

h1{
    font-size: 56px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}
h2{
    font-size: 36px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}
h3 {
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

.header {
    height: 100vh;
    padding-top: 20px;
    background: url(../img/stars.jpg) center center;
    overflow: hidden;
    position: relative;
}

.header .nav-link, .mobile_menu .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    position: relative;
}

.header .nav-link:hover:after{
    content: '';
    position: absolute;
    background: url(../img/points.png) no-repeat center center / contain;
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
}

.header_phone, .header_phone:hover {
    color: #fff;
    text-decoration: none;
}

.offer_ttl{
    margin-top: 140px;
    color: #fff;
    text-align: center;
    position: relative;
}

.small_h1 {
    font-size: 30px;
}

.stars {
    position: absolute;
    top: 0px;
    left: 0px;
}

.images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stars {
    position: absolute;
    top: -300px;
    left: -100px;
}

@keyframes cloud{
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.95, 0.90);
    }
    50% {
        transform: scale(0.95, 1);
    }
    75% {
        transform: scale(1, 0.9);
    }
    100%{
        transform: scale(1);
    }
}

.cloud1 {
    position: absolute;
    bottom: -20px;
    left: -100px;
}

.cloud2{
    bottom: 0;
    position: absolute;
    right: -300px;
    animation: cloud 5s ease infinite ;
}

.cloud3{
    bottom: 40px;
    position: absolute;
    left: -300px;
    animation: cloud 6s ease infinite ;
}

.cloud4{
    bottom: 0;
    position: absolute;
    right: -300px;
    animation: cloud 4.5s ease infinite ;
}

@keyframes header_rocket{
    0% {
        bottom: -700px;
    }
    20% {
        bottom: 0;
    }
    21% {
        transform: scale(1.05, 0.95);
    }
    27% {
        transform: scale(1);
    }
    30% {
        transform: rotate(2deg);
    }
    31% {
        transform: rotate(-2deg);
    }
    32% {
        transform: rotate(2deg);
    }
    33% {
        transform: rotate(-2deg);
    }
    34% {
        transform: rotate(0);
        bottom: 0;
        opacity: 1;
    }
    100%{
        bottom: 2000px;
        opacity: 0;
    }
}
.rocket_h {
    position: absolute;
    bottom: -700px;
    right: 50px;
    animation: header_rocket 6s linear ;
    animation-delay: 2s;
}

.after_offer {
    background: #fff;
    padding-bottom: 20px;
}

.after_offer h2 {
    font-size: 30px;
}

.after_offer h3 {
    font-size: 18px;
}

.small_line {
    margin-bottom: 10px;
}

.blue_text{
    color: #1869dd;
}

.reklama {
    background: url(../img/reklamma.jpg) no-repeat center center / cover;
    padding: 80px 0;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
}

.pokazateli {
    background: url(../img/pokaz_bg.jpg) no-repeat top center;
    padding-top: 50px;
    padding-bottom: 250px;
    text-align: center;
}

.big_line {
    margin-top: 20px;
    margin-bottom: 40px;
}

.mt20{
    margin-top: 20px;
}

.pokaz_item {

}

.pokaz_num {
    font-size: 36px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin: 10px auto;
}

.work {
    background: #fff;
    padding: 50px 0;
    text-align: center;
}

.work .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #000;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
    width: 148px;
    height: 100%;
    background: #f7f7f7;
    position: relative;
    font-size: 12px;
}

.work .nav-link.active {
    background: #fff;
    color: #000;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.work .nav-link.active:before{
    content: '';
    background: url(../img/arrow.png) no-repeat center center;
    width: 100%;
    height: 22px;
    position: absolute;
    bottom: -21px;
    left: 0;
}

.work .nav-link img {
    margin-bottom: 10px;
    min-height: 44px;
}

.work .nav {
    flex-wrap: nowrap;
}

.work .tab-pane{
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 40px;
    border-radius: 0.25rem;
    padding: 30px;
    text-align: left;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.work_ttl {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.client {
    background: url(../img/pack.png) no-repeat bottom center / cover;
    padding-bottom: 90px;
    padding-top: 100px;
}

.form_input {
    background: #fff;
    border: none;
    padding: 10px;
    padding-left: 40px;
    position: relative;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-bottom: 10px;
}

.user_input{
    background: url(../img/user.jpg) no-repeat 10px center;
    background-color: #fff;
}

.email_input {
    background: url(../img/email.jpg) no-repeat 10px center;
    background-color: #fff;
}

.tel_input{
    background: url(../img/phone.jpg) no-repeat 10px center;
    background-color: #fff;
}

.main_btn {
    background: #0c59db;
    border-radius: 50px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
}

.main_btn:hover {
    color: #fff;
    transform: scale(1.05);
}


.services {
    background: url(../img/serv_bg.jpg) no-repeat bottom center;
}

.why {
    background: url(../img/why_bg.png) no-repeat bottom center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.centered_text{
    text-align: center;
}

.why_row {
    display: flex;
    margin-top: 20px;
}

.why_left {
    width: 70%;
}

.why_right {
    width: 30%;
    border-left: 4px solid #00407f;
    padding-left: 20px;
}

.why_icon_item {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.why_icon {
    margin-right: 20px;
    display: block;
}

.why_icon1{
    min-width: 59px;
}
.why_icon2{
    min-width: 70px;
}
.why_icon3{
    min-width: 68px;
}

.why_text {
    margin-left: 10px;
}

.serv_ttl {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.serv_ttl h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #0c59db;
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 700;
}

.justif{
    text-align: justify;
}

.serv_btn {
    max-width: 270px;
    margin-bottom: 20px;
}

.s_img{
    min-height: 40px;
    min-width: 36px;
}

.h100{
    height: 100%;
}

.serv_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cases {
    padding-top: 30px;
    padding-bottom: 90px;
}

.togle_container {
    background: #dcebff;
    padding: 5px;
    border-radius: 50px;
    max-width: 290px;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
}

.cases .nav-link {
    border-radius: 50px;
    background: none;
    font-family: 'Russo One', sans-serif;
    color: #000;
    text-transform: uppercase;
    position: relative;
}
.cases .nav-link.active {
    background: none;
    color: #000;
}

.togle{
    position: absolute;
    border-radius: 50px;
    background: #fff;
    width: 140px;
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    transition: all 0.5s ease-out;
}

.togle.right{
    left: 145px;
}


.case {
    margin-top: 20px;
    position: relative;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.overlay {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    background: linear-gradient(to right, rgba(76, 58, 222, 0.4), rgba(68, 81, 235, 0.4));
    height: 100%;
    width: 100%;
    top: 0;
}

.case:hover .overlay {
    display: flex;
}

.cases .tab-pane a{
    color: #000;
}

.cases .tab-content, .cases .tab-pane {
    margin-top: 40px;
}

#social .case{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.footer {
    background: linear-gradient(to right, #721ace, #2272fc);
    padding-top: 60px;
    color: #fff;
    position: relative;
    padding-bottom: 60px;
    overflow-x: hidden;
}

.footer_phone, .footer_phone:hover {
    color: #fff;
    text-decoration: none;
}

.social_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fff;
    background: none;
    font-size: 24px;
}

.social_link:hover {
    color: #6522d2;
    background: #fff;
    text-decoration: none;
}

.footer_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.white_btn {
    background: #fff;
    color: #345cf1;
    width: 60%;
}

.white_btn:hover {
    color: #345cf1;
}

.footer .form_input {
    margin-bottom: 20px;
    width: 60%;
}

.f_cloud {
    position: absolute;
    bottom: 0;
    left: -100px;
}

.policy, .policy:hover {
    font-size: 12px;
    color: #949494;
}

.policy_padd{
    padding-top: 80px;
}

.f_rocker {
    position: absolute;
    bottom: 30px;
    left: 43%;
    transform: rotate(0deg);
    transition: bottom 3s ease-in;
    cursor: pointer;
}

.f_rocker.go{
    bottom: 8000px;
    transform: rotate(0deg);
}

.k_img:hover{
    filter: sepia(100%) hue-rotate(160deg) saturate(2000%);
}

.modal-body .form_input {
    border: 1px solid #1869dd;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.on_middle{
    display: none !important;
}
.on_small{
    display: none !important;
}
.on_mobile{
    display: none !important;
}

.ham_btn {
    margin: 0 auto;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.ham_line1, .ham_line2, .ham_line3 {
    width: 30px;
    height: 5px;
    background: #0c59db;
    position: absolute;
    left: 0;
    transition: all .5s;
}

.ham_line{

}

.ham_line1{
    top: 0;
}

.active_hl1{
    top: 10px;
    transform: rotate(45deg);
}

.ham_line2{
    top: 10px;
}

.active_hl2{
    transform: rotate(-45deg);
}
.ham_line3{
    top: 20px;
}

.active_hl3{
    opacity: 0;
}

.mobile_menu.active{
    left: 0;
}

.mobile_menu {
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: -300px;
    transition: all 1s;
    background: #0c59db;
    z-index: 200;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
}

@media screen and (max-width: 1199.8px) {
    .work .nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991.8px) {
    .not_on_middle{
        display: none !important;
    }
    .on_middle{
        display: block !important;
    }
    .work .nav-link{
        width: 100%;
        margin-left: 0;
    }
    .dropdown-item{
        white-space: normal;
    }
    .pokazateli {
        padding-bottom: 50px;
    }
    .client{
        background: #e4efff;
    }
    .mob_center {
        text-align: center;
    }
    .footer .form_input, .white_btn {
        width: 100%;
    }
    .work .nav-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 767.8px) {
    .not_on_small{
        display: none !important;
    }
    .on_small{
        display: block !important;
    }
    h1{
        font-size: 36px;
    }
    .small_h1 {
        font-size: 26px;
    }
    .after_offer h2 {
        font-size: 26px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
    body {
        font-size: 16px;
    }
    .why_row {
        flex-direction: column-reverse;
    }
    .why_left, .why_right{
        width: 100%;
    }
    .why_icon {
        margin-left: 0 !important;
        margin-right: 20px !important;
    }
    .social_block {
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .footer_block {
        text-align: center;
    }
}

@media screen and (max-width: 575.8px) {
    .not_on_mobile{
        display: none !important;
    }
    .on_mobile{
        display: block !important;
    }
    .offer_ttl{
        margin-top: 60px;
    }
    h1{
        font-size: 32px;
    }
    .small_h1 {
        font-size: 26px;
    }
    .cloud1 {
        bottom: -50px;
    }
    .pokazateli {
        padding-bottom: 50px;
    }
}
